/* #content {
  margin-top: 80px;
} */

.content-product .page-body {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
    padding: 20px;
    margin-top: 80px;
}

.content-product .gallery,
.content-product .overview {
    width: 50%;
    padding: 10px;
    max-width: 500px;
}

.content-product .overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-product .overview .wrapper-info {
    border-bottom: 1px solid rgb(206, 187, 187);
}

.content-product .overview .prices {
    display: flex;
    padding: 10px 0 10px 0;
}

.content-product .overview .attributes,
.content-product .overview .add-cart,
.content-product .overview .prd-policy {
    padding: 10px 0 10px 0;
}

.content-product .overview .product-attribute-label {
    padding: 10px 0 10px 0;
}

.content-product .overview .add-cart {
    /* padding: 20px 0 20px; */
    border-top: 1px solid gray;
}

.content-product .gallery img {
    width: 100%;
}

.content-product .wrapper-info .product-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.content-product .product-details-page .price-actual {
    color: blue;
    font-weight: bold;
}

.content-product .product-details-page .price-old {
    color: #666;
    opacity: 0.8;
    text-decoration: line-through;
    margin-left: 10px;
}

.content-product .product-attribute .product-attribute-input {
    display: flex;
}

.content-product .add-cart {
    background-color: #515154;
    line-height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-product .add-to-cart-panel {
    color: white;
    font-weight: bold;
}

.content-product .prd-policy {
    border: 1px solid rgb(221, 210, 210);
    border-radius: 5px;
}

.content-product .prd-policy .fa-ul {
    line-height: 1.4rem;
    margin-bottom: 0;
    padding: 10px;
    font-size: 0.8rem;
}

.content-product .prd-policy .fa-circle-check {
    color: blue;
}

.content-product .attributes .product-attribute-input label {
    margin-right: 10px;
}

.content-product .attributes input[type='radio'] {
    display: none;
}

#content-mac .attributes input[type='radio']+div:hover {
    border: 1px solid #595e9a;
}

.content-product .attributes input[type='radio']:checked+div {
    border: 1px solid #281aad;
}

.content-product .attributes input[type='radio']+div {
    height: 25px;
    width: 25px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: #fff;
    /* border: 1px solid #d2d2d2; */
    border-radius: 100%;
}

.content-product .attributes .attribute-color-gray input[type='radio']+div {
    background: rgba(181, 181, 182, 255);
}

.content-product .attributes .attribute-color-black input[type='radio']+div {
    background: #4C4B49;
}

.content-product .attributes .attribute-color-blue input[type='radio']+div {
    background: #174C6F;
}

.content-product .attributes .attribute-color-green input[type='radio']+div {
    background: #B0E1C4;
}

.content-product .attributes .attribute-color-white input[type='radio']+div {
    background: rgba(255, 255, 255, 0.924);
    border: 1px solid #666;

}

.content-product .attributes .attribute-color-purple input[type='radio']+div {
    background: rgb(235, 230, 241);
}

.content-product .attributes .attribute-color-silver input[type='radio']+div {
    background: #E3E5E3;
}

.content-product .attributes .attribute-color-starlight input[type='radio']+div {
    background: rgba(244, 233, 213, 255);
}

.content-product .attributes .attribute-color-midnight input[type='radio']+div {
    background: rgba(0, 0, 0, 255);
}

.content-product .attributes .attribute-color-gold input[type='radio']+div {
    background: rgba(254, 233, 211, 255);
}

.content-product .attributes .attribute-color-red input[type='radio']+div {
    background: rgba(219, 60, 58, 255);
}

.content-product .attributes .attribute-color-graphite input[type='radio']+div {
    background: rgba(93, 94, 89, 255);
}