* {
  box-sizing: border-box;
  border: 1px solid;
}

.watchpage {
  display: flex;
}

.watchpage-type {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-name {
  border-bottom: 1px solid;
}
