@import 'normalize.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div,
p {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}


a {
    text-decoration: none;
}

#slide {
    margin-top: 68px;
}